body{
  background-color:cornflowerblue;
}
.main{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  height: 340px;
  margin: 160px auto;
  background-color: aliceblue;
  box-shadow: 3px 3px rgb(0, 0, 0);
}
form{
 margin: 20px;
}
input{
  margin-top: -10px;
  width: 250px;
  height: 40px;
  padding: 0px 10px;
  background-color:white; 
  color: black;
  font-size: 1.3rem;
}
.btn{
 width: 140px;
 height: 35px;
  border-radius: 10px;
  background-color: blueviolet;
  color: rgb(243, 244, 245);
}

img{
  width: 80px;
  position: relative;
  top: -70px;
  left: 38%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
}
.text{
  position: absolute;
  top: 0%;
  text-align: center; 
  font-family: monospace;
  animation: type 1s infinite;
  color:midnightblue;
  font-size: 1.7em;
}
@keyframes type {
  from{
    border-right: 5px solid;
    border-color: rgb(6, 6, 6);
  }
  to{
    border: none;
  }
}
::placeholder{
  color: black;
  font-size: 1.3rem;
}